.cardWrapper {
  width: 200px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  padding: 10px;
  text-align: start;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: grey white;
  text-transform: capitalize;
}